/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/_notes/dwsync.xml
app/Http/_notes/dwsync.xml
app/Exceptions/_notes/dwsync.xml
app/Console/_notes/dwsync.xml
*/dwsync.xml
database/migrations/_notes/dwsync.xml
desktop.ini
app/Models/_notes/dwsync.xml
database/migrations/_notes/dwsync.xml
